{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f7f7f7;
    }
    form {
        padding: 20px;
        background: #333;
        color: #fff;
        border-radius: 5px;
        max-width: 320px;
        margin: auto;
    }
    .form-control {
        width: 96%;
        padding: 10px;
        margin-bottom: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    .btn {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 5px;
    }
    .h3.mb-3.font-weight-normal {
        margin-bottom: 15px;
        text-align: center;
    }
</style>
{% endblock %}

{% block body %}
<div class="login-container">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

       

        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
{% endblock %}
